.title {
  text-align: center;
  font-size: 50px;
}
.subtitle {
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .navbar {
    background: green;
  }
}

@media screen and (min-width: 701px) {
  .navbar {
    background: orange;
  }
}

.tile.is-parent {
  padding: 15px;
}
.tile {
  justify-content: center;
}
.button.is-primary {
  padding: 10px;
}
.hero-body {
  line-height: 10%;
}
/*.button {
  position: relative;
  left: 44%;
}*/
